.card-item {
  list-style-type: none;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  max-width: 330px;
  border-radius: 20px;
}

.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #171f46;
}

.card-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.card-img {
  width: 100px;
  height: 100px;
}
